"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
  "atom-beautify":
    python:
      beautify_on_save: true
      formatter: "yapf"
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "iced-penguin-syntax"
    ]
    useTreeSitterParsers: false
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "78fe6a7f-6a2b-41f7-bbb6-50fd05424d99"
  kite:
    showWelcomeNotificationOnStartup: false
  "linter-ui-default": {}
  "platformio-ide-terminal":
    style: {}
  welcome:
    showOnStartup: false
  wordcount:
    ignorecomments: true
