# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson

'atom-text-editor':
  'cmd-a': 'editor:move-to-first-character-of-line'
  'cmd-e': 'editor:move-to-end-of-line'
  'cmd-w': 'custom:cut-word'

'atom-workspace atom-text-editor:not([mini])':
  'alt-;': 'editor:toggle-line-comments'

'body':
  'alt-/': 'core:redo'
  'cmd-x cmd-s': 'core:save'
  'ctrl-/': 'core:undo'
  'ctrl-g': 'core:cancel'
  'ctrl-h': 'core:backspace'
  'ctrl-w': 'core:cut'
  'ctrl-x k': 'core:close'
  'ctrl-y': 'core:paste'
  'cmd-d': 'core:delete'
  'cmd-f': 'core:move-right'

'.platform-darwin':
  'cmd-s': 'find-and-replace:show'

'.platform-darwin atom-workspace':
  'cmd-x cmd-t': 'platformio-ide-terminal:toggle'
  'cmd-x cmd-f': 'advanced-open-file:toggle'

'.platform-darwin, .platform-darwin .command-palette atom-text-editor':
  'alt-x': 'command-palette:toggle'

'.platform-darwin, .platform-win32, .platform-linux':
  'ctrl-x ctrl-l': 'go-to-line:toggle'

'atom-text-editor[data-grammar="text html basic"]:not([mini]),
  atom-text-editor[data-grammar~="erb"]:not([mini]),
  atom-text-editor[data-grammar~="jade"]:not([mini]),
  atom-text-editor[data-grammar~="css"]:not([mini]),
  atom-text-editor[data-grammar~="stylus"]:not([mini]),
  atom-text-editor[data-grammar~="sass"]:not([mini]),
  atom-text-editor[data-grammar~="scss"]:not([mini]),
  atom-text-editor[data-grammar~="vue"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'
